# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/Backend/servidor-maquinaria-panaderia/node_modules
/Backend/servidor-maquinaria-panaderia/ClavePrivada.json

/Frontend/maquinaria-panaderia/node_modules
/Frontend/maquinaria-panaderia/src/Login.js